.hex-wrap
  //position: relative
  //width: 16.8rem
  //height: 19.4rem
  //margin: 8.6rem auto 7.3rem
  //img
  //  position: absolute
  //  left: 0
  //  right: 0
  //  margin: 0 auto
  //  top: 0
  //  bottom: 0
  //  z-index: 1
  +_media-sm-down
    &:not(:last-child)
      margin-bottom: 2.6rem
  img
    margin: 0 auto
  .h4
    font-family: $fontHeading
    max-width: 20rem
    margin: 0 auto
    +_media-sm-up
      max-width: 24rem
      margin: 0 auto

.hex-deco
  width: 19.4rem
  height: 19.4rem
  //animation-duration: 5s
  position: absolute
  //animation-timing-function: linear
  //animation-iteration-count: infinite
  &-main
    left: -1.3rem
    overflow: hidden
    background: transparent
    position: absolute
    /* add slash at the end of line to see the rhombus *
    width: 19.4rem
    height: 19.4rem
    transform: rotate(-30deg) skewX(30deg) scaleY(.866)
    &:before
      content: ''
      position: absolute
      right: 6.7%
      bottom: 0
      left: 6.7%
      top: 0
      transform: scaleY(1.155) skewX(-30deg) rotate(30deg)
      background: $gradient-advantages

  &-1
    width: 19.9rem
    height: 23rem
    background: url("../images/hex-deco-1.png") no-repeat center center
    background-size: contain
    top: -1.8rem
    left: -1.6rem
    //animation-name: hex-scale-1
  &-2
    width: 22.9rem
    height: 26.1rem
    background: url("../images/hex-deco-2.png") no-repeat center center
    background-size: contain
    top: -3.3rem
    left: -3.1rem
    //animation-name: hex-scale-1
  &-3
    width: 26.7rem
    height: 30.8rem
    background: url("../images/hex-deco-3.png") no-repeat center center
    background-size: contain
    top: -5.7rem
    left: -5.0rem
    //animation-name: hex-scale-1
  &-4
    width: 31.1rem
    height: 35.8rem
    background: url("../images/hex-deco-4.png") no-repeat center center
    background-size: contain
    top: -8.2rem
    left: -7.2rem
    //animation-name: hex-scale-1


.deco-dot
  position: absolute
  opacity: 1
  //animation: opacity 3s
  //animation-timing-function: linear
  //animation-iteration-count: infinite

.hex-elem
  &-1
    .deco-dot-0
      background: url("../images/hex-24x27.png") center center / contain no-repeat
      width: 2.4rem
      height: 2.7rem
      left: -6rem
      top: 4.7rem
      animation-delay: 1.5s
    .deco-dot-1
      background: url("../images/hex-14x16.png") center center / contain no-repeat
      width: 1.4rem
      height: 1.6rem
      top: -2.6rem
      right: 1.2rem
      animation-delay: 2s
    .deco-dot-2
      background: url("../images/hex-12x14.png") center center / contain no-repeat
      width: 1.2rem
      height: 1.4rem
      bottom: -2.5rem
      right: 1.4rem
      animation-delay: .5s

  &-2
    .deco-dot-0
      background: url("../images/hex-15x17.png") center center / contain no-repeat
      width: 1.5rem
      height: 1.7rem
      left: -5.5rem
      top: 3.5rem
      animation-delay: 2s
    .deco-dot-1
      background: url("../images/hex-24x27.png") center center / contain no-repeat
      width: 2.4rem
      height: 2.7rem
      top: 5rem
      right: -6rem
      animation-delay: 1.5s
    .deco-dot-2
      background: url("../images/hex-13x14.png") center center / contain no-repeat
      width: 1.3rem
      height: 1.4rem
      bottom: -2.7rem
      right: 1.8rem
      animation-delay: 1s


  &-3
    .h4
      max-width: 12rem
    .deco-dot-0
      background: url("../images/hex-23x28.png") center center / contain no-repeat
      width: 2.3rem
      height: 2.8rem
      left: -6rem
      bottom: 6rem
      animation-delay: 2.2s
    .deco-dot-1
      background: url("../images/hex-15x16.png") center center / contain no-repeat
      width: 1.5rem
      height: 1.6rem
      top: -2rem
      right: .4rem
      animation-delay: 0.35s
    .deco-dot-2
      background: url("../images/hex-13x14.png") center center / contain no-repeat
      width: 1.3rem
      height: 1.4rem
      bottom: -1rem
      right: -2rem
      animation-delay: 1.7s