.nem-banner
  //&.row
  //  min-height: calc(100vh - 5.3rem - 3.3rem)
  &-container
    padding-bottom: 24rem
    +_media-md-down
      padding-bottom: 7rem

    .nem-logo
      display: inline-block
      margin-top: 5.5rem
      +_media-lg-up
        margin-top: 0
        position: absolute
        top: 5.5rem
      +_media-sm-down
        display: block
        margin: 5rem auto 0
        max-width: 27rem
  &-content
    h1, .h1, p
      color: $c-white
    p
      max-width: 520px
    +_media-md-down
      margin: 4.2rem 0 0
    +_media-md-up
      font-size: $font-size-md

.nem-illustration
  width: 70rem
  height: 80.4rem
  background: url("../images/illustration.png") center center / contain no-repeat
  position: relative
  margin: 9rem 0 -3rem -2.5rem
  +_media-val-down($bp3)
    transform: scale(.7)
    margin-left: -4rem
  +_media-val-down($screen-md)
    margin-left: 0
    margin-top: -10rem
    margin-bottom: 0
  +_media-val-down($screen-sm)
    display: none
  img
    position: absolute

  .pyramid
    left: 0
    right: 0
    margin: 0 auto
    top: 20%
    animation: transform-y 7.5s
    animation-iteration-count: infinite

  .ball
    top: 30%
    margin: 0 auto
    &-1
      right: 0
      left: -6%
      animation: transform-opacity 7.5s infinite linear
    &-2
      right: -5%
      left: 0
      animation: transform-opacity 6.5s infinite linear
      animation-delay: 3.5s
    &-3
      right: -4%
      left: 0
      animation: transform-opacity 4s infinite linear
      animation-delay: 1s
    &-3
      left: -3.5%
      right: 0
      animation: transform-opacity 5s infinite linear
      animation-delay: 4s
    &-4
      left: -2%
      right: 0
      animation: transform-opacity 2.5s infinite linear
      animation-delay: 5.5s
    &-4
      left: -2.5%
      right: 0
      animation: transform-opacity 7s infinite linear
      animation-delay: 1.5s
    &-5
      left: 0
      right: -4%
      animation: transform-opacity 3.5s infinite linear
      animation-delay: .5s
    &-6
      left: 0
      right: -1.5%
      animation: transform-opacity 6.5s infinite linear
      animation-delay: 2.5s
    &-7
      left: -1%
      right: 0
      animation: transform-opacity 4s infinite linear
      animation-delay: 4s

    &-main
      top: auto
      bottom: 0
      animation: transform-opacity 7.5s infinite linear
      &-centered
        left: 0
        right: 3px
        bottom: 24%
      &-left
        left: 15.8rem
        bottom: 38%
      &-right
        bottom: 38%
        right: 15.88rem