.nem-footer
  background-color: $baltic-sea
  padding: 4.4rem 0 4.5rem
  position: relative
  z-index: 1
  .nem-logo
    max-width: 20.9rem
    display: inline-block
  p
    margin-bottom: 0
  [class^=col]
    +_media-val-down($screen-sm-max)
      text-align: center
  a
    color: rgba($c-white, .6)
  &-line
    +_media-lg-up()
      margin-bottom: 4.3rem
    &:last-child
      margin-bottom: 0
  &-links
    text-align: center
    margin: 3.5rem 0 1.5rem
    +_media-md-up
      text-align: right
      margin: 0
    +_media-lg-up
      text-align: center

    a
      margin: 0 2rem
      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0
  p
    color: $french-gray
    font-size: $font-size-sm

  .copy
    color: rgba($french-gray , .75)
    +_media-md-down
      margin-top: 1.6rem
      text-align: center

.nem-address-list
  +_media-sm-down
    max-width: 19rem
    margin: 0 auto
  p
    position: relative
    padding-left: 1.7rem
    text-align: left
    line-height: 2rem
    margin-bottom: 8px
    +_media-sm-up
      line-height: 2.5rem
  .fa
    position: absolute
    top: 3px
    left: 0
    margin-right: .8rem
    font-size: 1.5rem
    background: $gradient-main
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent