.nem-header
  padding: 4rem 0 1.4rem
  background: $gradient-darkness
  background-size: 400% 400%
  animation: gradient 15s linear
  +_media-sm-up
    padding: 3rem 0

  .nem-logo img
    +_media-sm-down
      margin: 0 auto

.nem-nav
  list-style-type: none
  padding: 0
  +_media-sm-down
    text-align: center
    margin-top: 3.7rem
  li
    display: inline-block
    &:not(:first-child)
      margin-left: 3.8rem
    a
      color: $c-white