.nem-s
  display: flex
  transition: all $transition-speed

  &-middle
    margin-top: -16rem
    +_media-sm-up
      margin-top: -37rem

    h2
      color: $c-white

    .container-fluid
      position: relative
      z-index: 1

  &--last
    min-height: 0
    align-items: center
    margin-bottom: 3rem
    margin-top: 9.3rem
    +_media-sm-up
      margin-bottom: 19rem
      margin-top: 20rem
    h2
      font-family: $fontHeading

  &--white
    p
      color: $raven

  &--purple
    background: url("../images/bg-round.jpg") center bottom / cover no-repeat
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e229d', endColorstr='#007db9e8',GradientType=1 )
    transition: $transition-speed
    padding-bottom: 12.5rem
    +_media-sm-up
      padding-bottom: 19rem
    &.scrolled
      background-position-y: -17rem