.nem
  &-link
    display: inline-block
    line-height: 2.6rem
    border-bottom: 1px solid transparent
    transition: all $transition-speed
    &:hover
      border-bottom-color: $c-white
  &-sep
    display: inline-block
    position: relative
    &:hover:before
      animation: slide-out
      animation-duration: 1s
      left: 0
      right: 0
    &:before
      content: ''
      position: absolute
      bottom: -1.2rem
      left: 50%
      right: 50%
      height: 1rem
      background: url("../images/wave.png") no-repeat center center
      animation: slide-in
      animation-duration: 1s

  &-sep
    display: block
    width: 12.8rem
    margin: 0 auto 3rem
    height: 1rem
    &:before
      animation: slide-out
      animation-duration: 1s
      left: 0
      right: 0
      bottom: 0

  &-btn
    display: block
    color: $c-white
    font-size: $font-size-md
    background-position: 100% 0
    box-shadow: none
    border: none
    position: relative
    z-index: 1
    text-align: center
    height: $s-elem-height-xs
    line-height: 5.8rem
    padding: 0 3.2rem
    cursor: pointer
    background-color: transparent
    +_media-sm-up
      height: $s-elem-height
      font-size: $btn-font-size
    +_media-xl-up
      display: inline-block
    &:focus
      outline: none
    &.disabled
      cursor: default
    &:hover .gradient:before
      opacity: 1
    .gradient
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: $btn-gradient-main
      opacity: 1
      z-index: -1
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: $btn-gradient-hover
        opacity: 0
        z-index: 0
        transition: all $transition-speed

    + .nem-btn
      margin-top: 2rem
      +_media-xl-up
        margin-left: 2rem
        margin-top: 0

  &-btn-section
    margin-top: 3.7rem