//import url('https://fonts.googleapis.com/css?family=Exo+2:400,700')
//@import url('https://fonts.googleapis.com/css?family=Muli')
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

.h1, .h2, .h3, .h4
  font-weight: 400
  +_media-sm-down
    text-align: center

h1, .h1, h2, .h2, h3, .h3, h4, .h4
  +_media-sm-down
    text-align: center


h1, .h1
  font-size: $h3-font-size
  line-height: 3.5rem
  margin-bottom: 3rem
  +_media-sm-up
    font-size: $h2-font-size
    margin-bottom: 3rem
    margin-top: 6.5rem
  +_media-md-up
    font-size: $h1-font-size
    line-height: 5.5rem

h2, .h2
  font-size: $h3-font-size
  margin: 0 0 3rem
  +_media-md-up
    font-size: $h2-font-size
    margin: 0 0 3.4rem
    letter-spacing: 0.15rem
    line-height: 5.5rem

h4, .h4
  font-size: 2rem
  line-height: 2.5rem
  +_media-sm-up
    line-height: 3.5rem
    font-size: $h4-font-size
    margin: 5.9rem 0 3.5rem

p
  color: rgba($tolopea, .8)
  margin: 0 0 1.5rem
  line-height: 3rem
  &:last-child
    margin: 0
  +_media-sm-down
    text-align: center
    line-height: 2.5rem

.nem-f + p
  text-align: left

.nem-page
  p
    text-align: left

ol, ul
  +_media-sm-down
    padding-left: 1.5rem
  li
    color: rgba($tolopea, .8)
    line-height: 3rem
    &:first-letter
      text-transform: uppercase
    

.text
  &-right
    text-align: right
  &-center
    text-align: center