.nem-f
  margin: 3.5rem 0 4rem
  +_media-sm-up
    margin: 3rem 0 2rem
  &-group
    margin-bottom: 2rem
    +_media-sm-up
      margin-bottom: 3rem
    &.has-error
      margin-bottom: 4rem
      .nem-help-block
        opacity: 1
        visibility: visible
      .nem-f-elem,
      .nem-f-elem + .helper
        border-color: $error
        &:focus, &:hover
          border-color: $blue-ribbon
          & + .helper
            border-color: $blue-ribbon
  .nem-help-block
    position: absolute
    line-height: 3rem
    color: $error
    opacity: 0
    visibility: hidden
  &-control
    position: relative
    .helper
      content: ''
      width: $helper-size
      height: $helper-size
      background-color: $c-white
      position: absolute
      bottom: -.9rem
      right: -.9rem
      border-top: 1px solid rgba($ship-gray, .32)
      transform: rotate(-45deg)
  &-elem
    border: 1px solid rgba($ship-gray, .32)
    width: 100%
    height: $s-elem-height-xs
    line-height: 5.8rem
    padding: 0 2rem
    font-size: $font-size-md
    color: $tolopea
    box-shadow: none
    border-radius: 0
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    outline: none
    background: transparent
    +_media-sm-up
      height: $s-elem-height
    +_placeholder
      position: relative
      opacity: 1
      font-size: $font-size-md
      color: $manatee
      transition: all .75s
    &:focus, &:hover
      outline: none
      border-color: $blue-ribbon
      border-image-source: $gradient-main
      border-image-slice: 1
      & + .helper
        border-color: $blue-ribbon
      +_placeholder
        opacity: 0


  .nem-btn
    width: 100%

.nem-result-info
  line-height: 2.8rem
  margin: 1.5rem 0
  &.has-error
    color: $error