@keyframes slide-out
  from
    left: 50%
    right: 50%
  to
    left: 0
    right: 0

@keyframes slide-in
  from
    left: 0
    right: 0
  to
    left: 50%
    right: 50%

@keyframes gradient
  0%
    background-position: 0 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0 50%

@keyframes opacity
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

@keyframes hex-scale-1
  0%
    transform: scale(0.5)
  50%
    transform: scale(1)
    opacity: 1
  100%
    transform: scale(1)
    opacity: 0

@keyframes transform-y
  0%
    transform: translateY(12.5%)
  50%
    transform: translateY(-12.5%)
  100%
    transform: translateY(12.5%)

@keyframes transform-opacity
  0%
    transform: translateY(0)
    opacity: 1
  100%
    transform: translateY(-200px)
    opacity: 0


//@keyframes hex-scale-2
//  0%
//    transform: scale(0.5)
//  50%
//    transform: scale(0.88)
//    opacity: 1
//  75%
//    transform: scale(1)
//  100%
//    transform: scale(1)
//    opacity: 0
//
//@keyframes hex-scale-3
//  0%
//    transform: scale(0.5)
//    opacity: 1
//  50%
//    transform: scale(0.75)
//  75%
//    transform: scale(0.85)
//  87.5%
//    transform: scale(1)
//  100%
//    transform: scale(1)
//    opacity: 0
//
//@keyframes hex-scale-4
//  0%
//    transform: scale(0.5)
//  87.5%
//    transform: scale(0.86)
//    opacity: 1
//  100%
//    transform: scale(1)
//    opacity: 0