html
  font-size: 62.5% // 10px

body, html
  font-family: $font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-size: $font-size-basic
  min-width: 32rem
  overflow-x: hidden
  opacity: 0
  transition: opacity $transition-speed

a
  text-decoration: none

.container
  transition: all $transition-speed
  +_media-xl-up()
    width: 1200px
    max-width: 1200px
  +_media-sm-down
    padding-left: 25px
    padding-right: 25px

.img-responsive
  display: block
  max-width: 100%

.d-sm-block
  display: none
  
.visible-xs
  display: block
  +_media-sm-up
    display: none