.nem-page
  padding: 3.5rem 0
  +_media-sm-up
    padding: 8.7rem 0 10rem
  h4, .h4
    color: $tolopea

  a
    display: inline-block
    line-height: 3rem
    color: rgba($tolopea, .8)
    border-bottom: 1px solid transparent
    transition: all $transition-speed
    &:hover
      border-bottom-color: rgba($tolopea, .8)