.modal
  &-content
    display: flex
    justify-content: center
    align-items: center
    min-height: 100%

.close-animatedModal
  color: $c-white
  position: absolute
  right: 10%
  top: 5%
  font-size: 3rem
  cursor: pointer