$icon-width: 4.5rem
$icon-height: 5rem

.nem-social
  display: flex
  align-items: center
  justify-content: center
  margin: 1.5rem 0 3.2rem
  +_media-md-up
    margin: 1rem 0 -1rem
    justify-content: flex-end
  +_media-lg-up
    margin: 0 -.5rem
  &-icon
    color: $baltic-sea
    font-size: $font-size-md
    width: $icon-width
    height: $icon-height
    position: relative
    overflow: hidden
    margin: 0 1.5rem
    +_media-sm-up
      margin: 0 .7rem
    &:hover .hexagon
      &:after
        opacity: 1

      //transform: rotate(210deg)
    &:last-child
      margin-right: 0
    &:first-child
      margin-left: 0
    .hexagon
      width: inherit
      height: inherit
      background: transparent
      position: relative
      overflow: hidden
      //transform: rotate(-30deg) skewX(30deg) scaleY(.866)
      &:before
        background: url("../images/hex-before.svg") center center / contain no-repeat
      &:before, &:after
        content: ''
        width: $icon-width
        height: $icon-height
        display: block
        position: absolute
        opacity: 1
        transition: all $transition-speed
        //position: absolute
        //right: 6.7%
        //bottom: 0
        //left: 6.7%
        //top: 0
        //background: $gradient-main
        //transform: scaleY(1.155) skewX(-30deg) rotate(30deg)
        //opacity: 1
        z-index: -1

      &:after
        background: url("../images/hex-after.svg") center center / cover no-repeat
        z-index: 0
        opacity: 0
        //background: $gradient-hover
        //z-index: 0

    .icon
      position: absolute
      left: 0
      right: 0
      top: 50%
      margin: -.8rem auto 0
      font-size: $font-size-md
      color: $baltic-sea
      text-align: center
      z-index: 1
      &-telegram
        background: url("../images/telegram.svg") no-repeat center center
        width: $icon-width
        height: 1.8rem
